<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867629329496-70hmi3h2fk1ggeqt8eriepu87f2bgeeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867629329496-70hmi3h2fk1ggeqt8eriepu87f2bgeeu</string>
	<key>API_KEY</key>
	<string>AIzaSyBZMdG9eTlGbezLesfpQpf_rl7NpLTNHOg</string>
	<key>GCM_SENDER_ID</key>
	<string>867629329496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eu.long1.yts.mobile</string>
	<key>PROJECT_ID</key>
	<string>yts1eu</string>
	<key>STORAGE_BUCKET</key>
	<string>yts1eu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867629329496:ios:b64bfeb16101d812ddae2d</string>
	<key>DATABASE_URL</key>
	<string>https://yts1eu.firebaseio.com</string>
</dict>
</plist>